<div class="layui-row">
    <div class="layui-col-sm6">
        {volist name='data_list' id='vo' key='key'}
        <table class="layui-table " style="margin-bottom: 30px">

            <thead>
            <tr style="height: 30px">
                <th colspan="4" ><blockquote class="layui-elem-quote">{$key}-{$vo.create[0]['Table']}</blockquote></th>
            </tr>
            <tr>
                <th>字段名称</th>
                <th>字段类型</th>
                <th>字段描述</th>
            </tr>
            </thead>
            <tbody>

            {volist name='vo.field' id='v'}
            <tr>
                <td>{$v.Field}</td>
                <td>{$v.Type}</td>
                <td>{$v.Comment}</td>

            </tr>
            {/volist}

            </tbody>
        </table>
        {/volist}
    </div>
    <div class="layui-col-sm6">
        {volist name='data_list1' id='vo' key='key'}
        <table class="layui-table " style="margin-bottom: 30px">
            <thead>
            <tr style="height: 30px">
                <th colspan="4" ><blockquote class="layui-elem-quote">{$key}-{$vo.create[0]['Table']}</blockquote></th>
            </tr>
            <tr>
                <th>字段名称</th>
                <th>字段类型</th>
                <th>字段描述</th>
            </tr>
            </thead>
            <tbody>

            {volist name='vo.field' id='v'}
            <tr>
                <td>{$v.Field}</td>
                <td>{$v.Type}</td>
                <td>{$v.Comment}</td>

            </tr>
            {/volist}
            </tbody>
        </table>
        {/volist}
    </div>
</div>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        form.render();
        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
